%background-gradienr {
  background-image: -moz-linear-gradient(
      90deg,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url(../images/background.png);
  background-image: -webkit-linear-gradient(
      90deg,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url(../images/background.png);
  background-image: -ms-linear-gradient(
      90deg,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url(../images/background.png);
}
