$Montserrat-font: 'Montserrat' sans-serif;
$Kaushan-font: 'Kaushan Script', cursive;
$Roboto-font: 'Roboto', sans-serif;
$head-text-color: rgb(255, 255, 255);
$hover-color: rgb(252, 227, 138);
$email-color: rgb(231, 231, 231);
$tex-color: #333333;
$main-after: rgb(243, 129, 129);
$footer-border-color: #999999;
